@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Palette+Mosaic&display=swap');

body{
background-color: rgb(69, 196, 196)
}

header{
    width: 100%;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    font-size: 40px;
    background-color: blueviolet;
    height: 60px;
}



#areaDoJogo{

    width: 500px;
    height: 600px;
    margin: 10% auto 0px;
}

.botaoDoJogo{
    width: 200px;
    height: 200px;
    margin: 5px;
    display: inline-block;
    position: static;



}
.botaoDoJogo:hover{
    transform: scale(1.2);
    transition-delay: 0.01s;
    position: static;

}
#verde{
    background-color: green;
    border-radius: 1000px 0px 0px 0px;
    margin: 0px;
}
#vermelho{
    background-color: red;
    border-radius: 0px 1000px 0px 0px;
}
#amarelo{
    background-color: yellow;
    border-radius: 0px 0px 0px 1000px;
}
#azul{
    background-color: blue;
    border-radius: 0px 0px 1000px 0px;
}

#botaoJogar{
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    outline: none;
    margin: 10PX 100px 50px 100px;
    
}

.animacao{
    /* box-shadow: 10px 10px 10px 10px blue; */
    border: 5px solid black;
}