<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <title>Genius</title>
</head>
<body>
    <header>
        <h1>Genius</h1>
    </header>
    <div id="container">
        <div id="gameContainer">
            <div id="red" class="block"></div>
            <div id="green"class="block"></div>
            <div id="blue" class="block"></div>
            <div id="yellow"class="block"></div>
            <div id="center">
                <p>Jogue agora!</p>
            </div>
        </div>
        <button>Jogar</button>
        <div id="asideNivel">
            <span id="nivel">Nivel: valor</span>
            <span id="HighScore">High score: valor</span>
        </div>
        <div id="asideExplicacao">
            <p>Você deve apertar as cores na sequência mostrada, a cada nível aumenta uma cor na sequência.</p>
            <span>Created by: Kelvin Lopes && Renato Suzuki</span>
        </div>
    </div>
</body>
</html>