<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <title>Genius</title>
</head>
<body>
    <header>
        <h1>Genius</h1>
    </header>
    <div class="container">
        <div class="red block"></div>
        <div class="green block"></div>
        <div class="blue block"></div>
        <div class="yellow block"></div>
        <div class="center">
            <p>Jogue agora!</p>
        </div>
    </div>
    <button>Jogar</button>
    <div class="asideNivel">
        <span class="nivel">Nivel: valor</span>
        <span class="HighScore">High score: valor</span>
    </div>


    <script type="text/javascript" src="script.js"></script>
</body>
</html>